:root {
  --bg-color: black;
  --board-color: rgba(255, 255, 255, 0.502);
  --ship-border: 2px solid rgb(35, 35, 35);
  --water-color: rgb(117, 181, 205);
  --miss-color: rgb(60, 74, 95);
  --can-place: rgb(121, 225, 121);
  --cant-place: red;

  --ship-size: 90%;
}

*,
button {
  font-family: "VT323", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: var(--bg-color);
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#content-wrapper {
  height: auto;
  width: 100vw;
  min-width: 400px;
  max-width: 1200px;

  display: grid;
  align-items: center;
  justify-items: center;
  padding: 30px;
  padding-top: 10px;
  gap: 20px;

  visibility: hidden;
}

.board {
  border: 3px solid var(--board-color);
  display: grid;
  width: 100%;
  max-width: 400px;
  aspect-ratio: 1 / 1;
  padding: 5px;
  background-color: var(--water-color);
}

.cell {
  position: relative;
  display: grid;
}

.cell > * {
  pointer-events: none;
}

.ship-cell.copy {
  opacity: 50%;
  position: absolute;

  border-color: rgb(255, 255, 255);
  background-color: var(--can-place);
}

.ship-cell.copy.cant-place {
  background-color: var(--cant-place);
}

.default-cell {
  background-color: var(--water-color);
  border: 1px solid #c5c1c1ce;
}

.default-cell-hit {
  transition: background-color 1s;
  background-color: var(--miss-color);
  border: 1px solid #c5c1c1ce;
}

.ship-cell,
.ship-copy {
  background-color: rgb(65, 66, 66);
  border: none;
}

.ship-cell-hit {
  background-color: rgb(168, 83, 83);
}

.ship-hit-anim {
  animation: ship-hit-blink 0.4s;
}

.miss-anim {
  animation: miss-blink 0.3s ease-in-out;
}

@keyframes ship-hit-blink {
  0% {
    background-color: rgb(168, 83, 83);
  }
  25% {
    background-color: rgb(255, 255, 255);
  }
  50% {
    background-color: rgb(168, 83, 83);
  }
  75% {
    background-color: rgb(255, 255, 255);
  }
  100% {
    background-color: rgb(168, 83, 83);
  }
}

@keyframes miss-blink {
  0% {
    background-color: var(--water-color);
  }
  50% {
    background-color: rgb(207, 210, 218);
  }
  100% {
    background-color: var(--miss-color);
  }
}

.ship-copy {
  opacity: 50%;
}

.hor-start,
.hor,
.hor-end {
  align-self: center;
  height: var(--ship-size);
}

.ver-start,
.ver,
.ver-end {
  justify-self: center;
  width: var(--ship-size);
}

.hor-start {
  border-top: var(--ship-border);
  border-left: var(--ship-border);
  border-bottom: var(--ship-border);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;

  width: var(--ship-size);
  justify-self: end;
}
.hor {
  border-top: var(--ship-border);
  border-bottom: var(--ship-border);
  align-self: center;

  width: 100%;
}

.hor-end {
  border-top: var(--ship-border);
  border-bottom: var(--ship-border);
  border-right: var(--ship-border);

  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  align-self: center;

  width: var(--ship-size);
  justify-self: start;
}

.ver-start {
  border-top: var(--ship-border);
  border-right: var(--ship-border);
  border-left: var(--ship-border);

  border-top-left-radius: 50px;
  border-top-right-radius: 50px;

  height: var(--ship-size);
  align-self: flex-end;
}
.ver {
  border-right: var(--ship-border);
  border-left: var(--ship-border);

  height: 100%;
}

.ver-end {
  border-right: var(--ship-border);
  border-left: var(--ship-border);
  border-bottom: var(--ship-border);

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  height: var(--ship-size);
  align-self: flex-start;
}

#board-copy {
  position: fixed;
  display: grid;
  aspect-ratio: 1 / 1;
}

#ai-or-pvp {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  min-width: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: rgb(28, 27, 27);
  padding: 40px;
  border: 2px solid #ffffff;
}

#ai-or-pvp h2 {
  color: white;
  text-align: center;

  font-size: 2.3rem;
}

#ai-or-pvp div {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

button {
  width: 140px;
  border: 1px solid black;

  cursor: pointer;
  background-color: #f1f1f1;
  color: rgb(47, 47, 47);
  font-size: 1.5rem;
  font-weight: bold;
}

button:hover {
  background-color: #99cc73;
  border-color: white;
}

#buttons {
  margin-top: 20px;
  margin-bottom: 0;
  display: flex;
  gap: 10px;
}

.curr-board {
  transition: border-color 0.5s;
  border-color: #be482d;
}

#custom-settings-btn {
  width: 200px;
}

.custom-settings {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  min-width: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: rgb(28, 27, 27);
  padding: 40px;
  border: 2px solid #ffffff;
}

.custom-settings h3{
  color: white;
}

.custom-settings div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 900px) {
  #content-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .board {
    max-width: 650px;
  }
}
